.parentGrid6 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 16px;
}
.gridCol6 {
  transition: opacity 0.2s ease-in-out;
  grid-auto-rows: auto auto 1fr auto;
  position: relative;
  display: grid;
  opacity: 1;
}

.gridColContent6 {
  gap: 12px;
  display: grid;
  padding-top: 8px;
}
.gridColContent6 h2 {
  font-size: clamp(14px, 5vw, 18px);
  line-height: clamp(18px, 5vw, 22px);
  text-transform: none;
  text-decoration: none;
  margin-top: 20px;
}
.gridColContent6 p {
  font-size: clamp(10px, 5vw, 14px);
  line-height: clamp(14px, 5vw, 18px);

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  max-height: calc(18px * 4);
  width: 100%;
}
@media screen and (max-width: 599px) {
  .parentGrid6 {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .gridCol6 {
    grid-template-columns: 132px auto;
    gap: 8px;
  }
  .gridCol6 > img {
    height: auto;
  }
  .gridColContent6,
  .gridColContent6 h2 {
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 849px) {
  .parentGrid6 {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  .gridCol6 {
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .gridColContent6 {
    padding: 0 8px;
    margin: 0;
  }
}
