.parentGrid5 {
  grid-template-columns: 1fr 1fr;

  gap: 16px;
  display: grid;
}
.gridCol {
  border-bottom: 1px solid rgb(230, 232, 234);
  transition: opacity 0.2s ease-in-out;
  grid-auto-rows: auto auto 1fr auto;
  position: relative;
  display: grid;
  opacity: 1;
  padding-bottom: 10px;
}

.gridColContent {
  gap: 12px;
  display: grid;
  padding-top: 8p;
}
.gridColContent h2 {
  font-size: clamp(14px, 5vw, 18px);
  line-height: clamp(18px, 5vw, 22px);
  text-transform: none;
  text-decoration: none;
  margin-top: 20px;
}
.gridColContent p {
  font-size: clamp(10px, 5vw, 14px);
  line-height: clamp(14px, 5vw, 18px);
}
@media screen and (max-width: 599px) {
  .parentGrid5 {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 600px) and (max-width: 849px) {
  .gridColContent {
    padding: 0 8px;
  }
}
