.mainGrid {
  position: relative;
  display: grid;
  gap: 0px;
  margin-block: 48px;
  padding-bottom: 24px;
}
.mainGrid > img {
  position: relative;
  align-self: start;
}
.mainGridContent {
  align-content: center;
  -webkit-box-align: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
  display: grid;
  grid-template-columns: subgrid;
}
.mainGridContent h2 {
  font-size: clamp(20px, 5vw, 28px);
  line-height: clamp(24px, 5vw, 32px);
  text-transform: none;
  text-decoration: none;
}
.mainGridContent p {
  font-size: clamp(10px, 5vw, 14px);
  line-height: clamp(14px, 5vw, 18px);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  max-height: calc(18px * 4);
  width: 100%;
}
@media screen and (max-width: 599px) {
  .mainGrid {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 600px) and (max-width: 849px) {
  .mainGrid {
    grid-template-columns: 1fr 1fr;
  }
}
