.parentGrid1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 24px 16px 48px;
  gap: 16px;
  -webkit-box-align: start;
  align-items: start;
}
.link:hover h2 {
  text-decoration: underline;
}
.firstTwoCol {
  display: grid;
  box-sizing: border-box;
  -webkit-box-align: start;
  align-items: start;
}
.firstColBox {
  border-bottom: 1px solid rgb(230, 232, 234);
  padding-bottom: 16px;
  transition: opacity 0.2s ease-in-out;
  grid-auto-rows: auto auto 1fr auto;
  position: relative;
  display: grid;
  opacity: 1;
}
.firstColBoxContent {
  gap: 12px;
  display: grid;
  padding-top: 8px;
}

.firstColBoxContent > h2 {
  font-size: clamp(14px, 3vw, 18px);
  line-height: clamp(16px, 4vw, 22px);
  text-transform: none;
  text-decoration: none;
}
.firstColBoxContent > p,
.secondColBox > p,
.thirdColBox > p {
  font-size: clamp(12px, 3vw, 16px);
  line-height: clamp(14px, 4vw, 18px);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  max-height: calc(18px * 4);
  width: 100%;
}
.secondColBox {
  grid-template-columns: 1fr;
  background-color: transparent;
  position: relative;
  padding: 0px;
  margin: 0px;
  gap: 16px;
  display: grid;
}
.secondColBox > h2 {
  font-size: clamp(20px, 5vw, 28px);
  line-height: clamp(24px, 5vw, 32px);
  text-transform: none;
  text-decoration: none;
  overflow-wrap: anywhere;
}
.thirdCol {
  display: grid;
}
.thirdColBox {
  border-bottom: 1px solid rgb(230, 232, 234);
  position: relative;
  gap: 8px;
  display: grid;
}
.thirdColBox > h2 {
  font-size: clamp(14px, 3vw, 18px);
  line-height: clamp(18px, 4vw, 22px);
  text-transform: none;
  text-decoration: none;
}

@media screen and (max-width: 8172px) {
  .firstTwoCol {
    grid-template-columns: 1fr 2fr;
    gap: 16px;
  }
  .firstCol {
    display: grid;
    gap: 16px;
  }
  .thirdCol {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}
@media screen and (max-width: 599px) {
  .parentGrid1 {
    grid-template-columns: 1fr;
  }
  .firstTwoCol {
    grid-template-columns: 1fr;
  }
  .firstCol {
    order: 2;
  }
  .firstColBox {
    grid-template-columns: 132px auto;
    gap: 8px;
  }
  .firstColBox > img {
    height: auto;
  }
  .firstColBoxContent {
    padding: 0;
  }

  .secondColBox {
    order: 1;
    margin: 0 -16px;
  }
  .secondColBox > h2,
  .secondColBox > p {
    padding: 0 16px;
  }
}
@media screen and (max-width: 849px) {
  .parentGrid1 {
    grid-template-columns: 3fr;
  }
  .thirdCol {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
