.parentGrid8 {
  display: grid;
  box-sizing: border-box;
  gap: 16px;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 16px;
}
.gridContent {
  grid-template-columns: 38px 1fr;
  gap: 8px;
  display: grid;
}
.gridContent > span {
  color: rgb(138, 140, 142);

  font-size: clamp(24px, 5vw, 32px);
  line-height: clamp(26px, 5vw, 34px);
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  display: flex;
  height: 34px;
  width: 38px;
}
.gridContent > h2 {
  font-size: clamp(12px, 5vw, 16px);
  line-height: clamp(16px, 5vw, 20px);
  text-transform: none;
  text-decoration: none;
}
@media screen and (max-width: 849px) {
  .parentGrid8 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
